__pycache__
__pycache__/
*.py[cod]
env
.pypirc
CordForge.egg-info

DREADME.md

/py
/install
/Python*
/Data
/dist
/BuildEnv
/Package.py
/TODO
/TestVenv
/Test.py
/test.py
/keys
/settings
/Keys
/Settings
/Test.bat
/Pack.bat